---
title: Awesome List Visual Explorer
layout: homepage
---
<h1 class="page-title" style="text-align: center;"> Welcome to  {{site.title}} !</h1>

<p class="page-title"> This webpage was built from a template that automates the process of grabing all the GitHub repos from an Awesome List, harvesting details about those repos using the GitHub API, and creating visualizations that make it easier to understand the trends & connections between repositories. </p>
<p class="page-title"> GitHub repositories were programmatically sourced from the<a href="{{site.non_raw_link_to_awesome_list_readme_to_parse}}"> {{ site.awesome_list_repo_name }} </a> awesome list.</p>
<p class="page-title"> The main point of the website is the visualizations, which you can start to explore from the <a href="explore">explore section</a>! </p>
<p class="page-title">See all of the parsed repositories in the <a href="category/#/ALLSOFTWARE">catalog view</a>.</p>


{% raw %}

<!-- <p class="page-title">Welcome to the LLNL software portal—a hub for our open source projects. <br />Our <a ng-click="categoryHref('ALL SOFTWARE')" style="cursor: pointer">full catalog</a> is updated regularly as repositories are added or modified.</p> -->
<!-- <p class="page-title">Welcome to a Transform21 Hackathon project to explore using the open-source LLNL software portal code base as a starting point for understanding engagement with and links between open source subsurface geoscience code repositories! </p> -->
<!-- <p class="page-title"> This site shows all of the GitHub repositories from the <a href="{{site.awesome_list_repo_name}}">the </a> parsed awesome list, as well as additional code projects added manually.</p>
<p class="page-title">If you see categories but not repos it is because none of the GitHub topic tags match ones that tie to categories. You can see all of the parsed repositories <a href="category/#/ALLSOFTWARE">here</a></p>
<p class="page-title"> The main point of this website though is the visualizations, which you can start to explore from the <a href="explore">explore section</a>! </p> -->

<section class="flex-container" id="categories">
    <div ng-repeat="category in catData" class="flex-category dynamic" ng-click="categoryHref(category.title)">
        <img ng-src="{{ category.icon.path }}" style="width: 150px; height: 150px" alt="{{ category.icon.alt }}" />
        <h4>{{ category.title }}</h4>
        <p class="text-center">{{ category.description.short }}</p>

        <div ng-repeat="repo in topicRepos[catData.indexOf(category)]">
            <p class="links" ng-show="topicRepos[catData.indexOf(category)].indexOf(repo) < 4">
                <span>
                    <a href="https://github.com/{{ repo.ownerLogin }}" alt="View Owner on GitHub" title="Owner: {{ repo.ownerLogin }}">
                        <img class="orgAvatar" ng-src="{{ repo.ownerAvatar }}" />
                    </a>
                </span>

                <span>
                    <a href="{{ repo.gitUrl }}" alt="{{ repo.description || '[No Description]' }}" title="{{ repo.description || '[No Description]' }}">
                        {{ repo.name }}
                    </a>
                </span>

                <span>
                    <a href="{{ repo.gitUrl }}/stargazers" alt="Stargazers" title="Stargazers">
                        {{ repo.stars }} <span class="fa fa-star"></span>
                    </a>
                </span>

                <span>
                    <a ng-click="repoHref(repo.nameWithOwner); $event.stopPropagation();" alt="Rpo Info" title="Repo Info">
                        <span class="fa fa-info-circle"></span>
                    </a>
                </span>
            </p>
        </div>
        <a class="more" ng-if="topicRepos[catData.indexOf(category)].length > 4">...MORE</a>
    </div>
</section>

{% endraw %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/Category.service.js"></script>
<script src="js/category-info.js"></script>
